* {
    box-sizing: border-box;
}


/*==font-area-end==*/

body {
   font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #000;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/*header*/

.header-area {
   background: url('images/hero-bg.png') no-repeat;
   background-size: cover;
   background-position: top right;
   padding: 55px 0 70px 0;
   
}

.logo-images img {
   margin: 0 0 0 0;
}

.navigation-bar ul {
   display: flex;
   flex-wrap: wrap;
}

.navigation-bar ul li a {
   font-family: 'Poppins', sans-serif;
   font-size: 13px;
   font-weight: 500;
   padding: 5px 18px 5px 18px;
   display: inline-block;
   color: #ffffff;
}

.navigation-bar ul li a:hover,
#active {
   color: #AEFF2F;
   transition: .8s ease;
}

.navigation-bar ul li a {
   position: relative;
}

.navigation-bar ul li a::after {
   content: "";
   display: block;
   width: 0;
   height: 1px;
   margin: auto;
   background: #F8F9F8;
   transition: 0.5s;
}

.navigation-bar ul li a:hover::after {
   width: 100%;
}

.mobil-bar i {
   font-size: 25px;
   color: #87CF24;
   display: none;

}

.hero-content {
   max-width: 710px;
}

.hero-content h1 {
   font-family: 'Poppins', sans-serif;
   font-size: 33px;
   font-weight: 700;
   font-style: italic;
   line-height: 50px;
   color: #ffffff;
   margin: 188px 0 0 0;
}

.hero-content h1 span {
   color: #AEFF2F;
}

.hero-content p {
   font-family: 'Poppins', sans-serif;
   font-size: 17px;
   color: #ffffff;
   margin: 0;
   text-align: right ;
   position: relative;
}

.hero-content p::after {
   content: "";
   position: absolute;
   display: block;
   width: 40px;
   height: 2px;
   background: #ffffff;
   left: 75%;
   top: 13px;
}

/* header */

/* wellcome */

.wellcome-title h2 {
   font-family: 'Poppins', sans-serif;
   font-size: 25px;
   font-weight: 600;
   line-height: 25px;
   color: #282828;
   margin: 356px 0 0 0;
}

.wellcome-title map {
   color: #2b7904;
}

.wellcome-title span {
   width: 90px;
   height: 2px;
   background: #388113;
   display: block;
   margin: 20px auto 0;
}

.wellcome-title label {
   width: 45px;
   height: 2px;
   background: #388113;
   display: block;
   margin: 5px auto 0;
}

.wellcome-content ul {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   margin: 35px 0 0 0;

}

.wellcome-content ul li {
   border: 1px solid #C2C4C2;
}

.wellcome-content ul li:hover,
 #active {
   background: #2B7A04;
   transition: 0.5s ease-in;

}

.wellcome-content ul li a:hover,
 #active {
   color: #ffffff;
   transition: 0.5s ease-in;
}

.wellcome-content ul li a {
   font-family: 'Poppins', sans-serif;
   font-size: 14px;
   font-weight: 600;
   color: #575757;
   display: inline-block;
   padding: 15px 20px;
}

.benazir-life-content h2 {
   font-family: 'Poppins', sans-serif;
   font-size: 26px;
   font-weight: 500;
   color: #000000;
   line-height: 25px;
   margin: 70px 0 0 0;
}

.benazir-life-content span {
   width: 45px;
   height: 2px;
   background: #388113;
   display: block;
   margin: 15px 0 0 0;
}

.benazir-life-content p {
   font-size: 14px;
   line-height: 25px;
   color: #6a6a6a;
   margin: 20px 0 0 0;

}

.benazir-life-button a {
   font-family: 'Poppins', sans-serif;
   font-size: 14px;
   font-weight: 600;
   color: #ffffff;
   display: inline-block;
   padding: 14px 26px;
   border-radius: 50px;
   background: linear-gradient(to right, #A6F72C, #2B7A05);
   margin: 42px 0 0 0;
}

.benazir-life-button a:hover {
   	opacity: 0.8;
}

.benazir-images img {
   width: 290px;
   height: 290px;
   border-radius: 50%;
   position: absolute;
   background: linear-gradient(to left, #A6F72C, #2B7A05);
   padding: 10px;
   margin: 57px 0 0 0;
}

/*wellcome*/

/*video*/

.video-area {
   background: url('images/video-bg.png') no-repeat;
   background-size: cover;
   background-position: center;
   padding: 0 0 48px 0;
}

.video-item-left h6 {
   font-family: 'Poppins', sans-serif;
   font-size: 15px;
   font-weight: 600;
   color: #ffffff;
   line-height: 25px;
   padding: 50px 0 0 0
}

.video-item-left h2 {
   font-family: 'Poppins', sans-serif;
   font-size: 25px;
   font-weight: 600;
   color: #ffffff;
   line-height: 25px;
}

.video-item-left map {
   color: #99E829;
}

.video-item-left span {
   width: 90px;
   height: 2px;
   background: #99E829;
   display: block;
   margin: 18px 0 0 0;
}

.video-item-left label {
   width: 45px;
   height: 2px;
   background: #99E829;
   display: block;
   margin: 5px 0 0 0;
}

.video-item-left p {
   font-size: 14px;
   color: #ffffff;
   line-height: 25px;
   margin: 23px 0 0 0;
}

.video-item-left a {
   font-family: 'Poppins', sans-serif;
   font-size: 14px;
   font-weight: 600;
   color: #fff;
   border: 2px solid #A6F72D;
   display: inline-block;
   padding: 14px 28px;
   border-radius: 50px;
   margin: 35px 0 0 0;
}

.video-item-left a:hover {
   background: #000;
   color: #fff;
   transition: 0.5s ease-in;
}

.video-images img {
   width: 100%;
   border: 5px solid red;
   border-image-source: linear-gradient(to right, #DEE3DB, #8ED62A);
   border-image-slice: 1;

}

.video-item-right {
   position: relative;
   margin: 57px 0 0 0;
}

.play-btn img {
   max-width: 50px;
}

.play-btn {
	 position: absolute;
	 top: 50%;
	 left: 50%;
	 transform: translate(-50%, -50%);
}

/*video*/

/*books*/

.books-area {
   padding: 0 0 50px 0;
   background: #ddd;
}

.books-item-left h2 {
   font-family: 'Poppins', sans-serif;
   font-size: 25px;
   font-weight: 600;
   line-height: 25px;
   color: #282828;
   margin: 0;
   padding: 115px 0 0 0;
}

.books-item-left map {
   color: #286F06;
}

.books-item-left span {
   width: 90px;
   height: 2px;
   background: #327E0D;
   display: block;
   margin: 18px 0 0 0;
}

.books-item-left label {
   width: 45px;
   height: 2px;
   background: #327E0D;
   display: block;
   margin: 5px 0 0 0;
}

.books-item-left p {
   font-size: 14px;
   color: #6a6a6a;
   line-height: 25px;
   margin: 25px 0 0 0;
}

.books-item-left a {
   font-family: 'Poppins', sans-serif;
   font-size: 14px;
   font-weight: 600;
   color: #ffffff;
   display: inline-block;
   padding: 14px 26px;
   border-radius: 50px;
   background: linear-gradient(to right, #A6F72C, #2B7A05);
   margin: 35px 0 0 0;
}

.books-item-left a:hover {
   opacity: 0.8;
}

.books-item-right img {
	  margin: 60px 0 0 0;

}

/*books*/

/*article*/

.article-area {
   background: #F2F2F2;
   padding: 0 0 60px 0;
}

.article-title h2 {
   font-family: 'Poppins', sans-serif;
   font-size: 25px;
   font-weight: 600;
   line-height: 25px;
   color: #282828;
   padding: 63px 0 0 0;
}

.article-title span {
   width: 90px;
   height: 2px;
   background: #327E0D;
   display: block;
   margin: 20px auto 0; 
}

.article-title label {
   width: 45px;
   height: 2px;
   background: #327E0D;
   display: block;
   margin: 5px auto 0;
}

.article-title map {
   color: #2b7904;
}

.article-title p {
   font-family: 'Poppins', sans-serif;
   font-size: 14px;
   font-weight: 500;
   line-height: 25px;
   color: #6a6a6a;
   margin: 25px 0 0 0;

}

.article-item-wrapper {
	border: 1px solid #DCDCDC;
	border-top: 0;
}

.article-item img {
   margin: 35px 0 0 0;
   width: 100%;
}

.article-item-content {
	 background: #ECECEC;
		padding: 18px 5px 20px 8px;
}

.article-item-content h6 {
   font-family: 'Poppins', sans-serif;
   font-size: 15px;
   line-height: 25px;
   color: #282828;
   
}

.article-item-content p {
   font-size: 14px;
   color: #707070;
   line-height: 25px;
   margin: 10px 0 0 0;

}

.article-item-images {
 	 background: #ffffffff;
 	 padding: 0 0 10px 0;
}

#date-img {
 	padding: 24px 0 0 0;
 	display: block;
 	margin: auto;

}

#five-img {
	margin: 20px auto 0;
	display: block;
}

#love-img {
	margin: 20px auto 0;
	display: block;
}

/*article*/

/*footer-item*/

.footer-item-area {
	background: #13181F;
	padding: 0 0 60px 0;
}

.footer-item h2 {
	font-family: 'Montserrat', sans-serif;
	font-size: 22px;
	font-weight: 400;
	color: #ffffff;
	padding: 80px 0 0 0;
}

.footer-item h6 {
	font-family: 'Montserrat', sans-serif;
	 font-size: 14px;
	 font-weight: 300;
	 color: #ffff;
}

.footer-item p {
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	font-weight: 400;
	color: #ffffff;
	margin: 22px 0 0 0;
}

.footer-social ul {
 	display: flex;
 	margin: 27px 0 0 0;
}

.footer-social ul li a {
	width: 30px;
	height: 30px;
	display: block;
	background: #ffff;
	line-height: 30px;
	border-radius: 50%;
	text-align: center;
	margin: 0 5px;
	color: #13181F;

}

.subscrive-button {
	max-width: 394px;
	margin: 18px 0 0 0;

}

.subscrive-button input {
	width: 77%;
	outline: none;
	border: none;
	background: #33383E;
	 padding: 11px 7px 10px 15px;
}

.subscrive-button input::placeholder {
  color: #ffffff;
  opacity: 1;
  font-size: 14px;
  font-weight: 400;
 
}

.subscrive-button input:focus{
	color: #ffffff;
}

.input-button-wrapper {
	position: relative;
}

.subscrive-button button {
	outline: none;
	border: none;
	background: #2B7A04;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #ffffff;
	padding: 12px 12px;
	position: absolute;

}

/*footer-item*/



 